<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url"/>
    <property name="connection.driver_class"/>
    <property name="connection.username"/>
    <property name="connection.password"/>

    <mapping class="am.gitc.mportal.domain.User"></mapping>
    <mapping class="am.gitc.mportal.domain.Category"></mapping>
    <mapping class="am.gitc.mportal.domain.Country"></mapping>
    <mapping class="am.gitc.mportal.domain.Language"></mapping>
    <mapping class="am.gitc.mportal.domain.Message"></mapping>
    <mapping class="am.gitc.mportal.domain.Request"></mapping>
    <mapping class="am.gitc.mportal.domain.Gender"></mapping>
    <mapping class="am.gitc.mportal.domain.Role"></mapping>






  </session-factory>
</hibernate-configuration>