
.input {
    width: 350px;
    height: 37px;
    border-radius: 5px;
    outline: none;
    margin-top: 12px;
    border-color: rgba(157, 150, 177, 0.84)
}

.submitLog {
    color: #fff;
    width: 350px;
    height: 37px;
    border-radius: 5px;
    outline: none;
    margin-top: 12px;
    margin-left: 84px
}


.submitReg {
    color: #fff;
    width: 350px;
    height: 37px;
    border-radius: 5px;
    outline: none;
    margin-top: 12px;
    margin-left: 125px
}

a:link {
    text-decoration: none;
    color: #131569;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #3f51b5;
    background-image: url('../images/login-bg.png');
    min-height: 100%;
    width: 100%
}

.tdErrorMessage > span {
    color: red;
    font-weight: bold;
    padding-left: 150px;
}
br {
    display: none !important;
}

label {
    cursor: text;
    font-size: 12px;
    color:black!important;
}

.a{
    padding-left: 250px;
    font-size: 20px;
}

p{
    color: #3b4fb7;
    padding-left: 600px;
    font-size: 50px
}
.im{
    padding-left: 580px
}
