.header {
    background-color: #c2c0ba;
}

#sign-in-butt {
    background-color: #4d70d9;
    border-color: #3c49d4;
    color: white;
}

#sign-in-butt:hover {
    background-color: #4fb0d9;
}

#log-in-butt {
    background-color: #4d70d9;
    border-color: #3c49d4;
    color: white;
}

#log-in-butt:hover {
    background-color: #4fb0d9;
    outline: none;
}

.btn-primary {

    color: #ffffff;
    background-color: #4d70d9;
    border-color: #3c49d4;

}

.btn-primary:hover {
    background-color: #4fb0d9;
    border-color: #3c49d4;
}

.navbar-fixed-top > .container .navbar-brand {
    color: #1c395e;
    font-size: 40px;
}

.logo{
    margin-left: -160px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}
label {
    cursor: text;
    font-size: 12px;
    color:black!important;
}

.form-group> span {
    color: red!important;
    display: block;
    font-size: 15px!important;
}